*{margin:0;padding:0;box-sizing:border-box;}
body{width:100%;min-width:1280px;background:#ffffff;}
a{text-decoration:none;}
li{list-style:none;}

/*1.header*/
header{
	position:relative;
	width:100%;
	min-width:1280px;
	height:56px;
	background:#228ABF;
}
header>div{
	position:relative;
	width:1280px;
	height:56px;
	margin:0 auto;
}
header>div>img{
	position:absolute;
	top:10px;
	left:50px;
}
header>div>form>input{
	display:inline-block;
	position:absolute;
	width:313px;
	height:28px;
	border:0;
	border-radius:14px;
	padding-left:40px;
	top:14px;
	left:811px;
	background:url(../img/tb-magnifier.png);
}
header>div>a{
	display:inline-block;
	position:absolute;
	width:41px;
	height:16px;
	padding-left:17px;
	top:20px;
	left:1145px;
	font-size:12px;
	font-family:"黑体";
	line-height:17px;
	background:url(../img/tb-sp.png) no-repeat 0 0;
	color:#ffffff;
	-webkit-transition:color 0.1s linear;
	transition:color 0.1s linear;
}
header>div>a:hover{
	color:#EDEDEC;
}
/*2.main body-div*/
#main-body{
	position:relative;
	width:1280px;
	height:1210px;
	margin:0 auto;
}
/*2-1.left-aside*/
#main-body>aside{
	float:left;
	width:260px;
	height:100%;
	font-size:12px;
	font-family:"黑体";
	line-height:12px;
	background:#2A2E3D;
	color:#6e8095;
}
/*2-1-1.head*/
/*2-1-1-1.head-sculpture*/
#main-body>aside>div{
	position:relative;
	width:100%;
	height:150px;
}
#head-sculpture{
	display:inline-block;
	position:absolute;
	width:47px;
	height:47px;
	border-radius:50%;
	left:50px;
	top:23px;
	background:#B9BABD;
}
#head-sculpture::before{
	content:'';
	position:absolute;
	width:57px;
	height:57px;
	border:1.5px solid #B9BABD;
	border-radius:50%;
	box-sizing:border-box;
	top:-5px;
	right:-5px;
	bottom:-5px;
	left:-5px;
}
#name{
	display:inline-block;
	position:absolute;
	height:16px;
	top:38px;
	left:120px;
	font-size:16px;
	line-height:16px;
}
/*2-1-1-2.fans-and-number*/
#main-body>aside>div>ul{
	position:absolute;
	width:176px;
	height:29px;
	top:98px;
	left:40px;
}
#main-body>aside>div>ul::before{
	content:'';
	position:absolute;
	width:2px;
	height:29px;
	top:0;
	left:87px;
	background:#303444;
}
#main-body>aside>div>ul>li{
	display:block;
	float:left;
	width:88px;
	height:29px;
	text-align:center;
}
#main-body>aside>div>ul>li>a{
	display:block;
	position:relative;
	width:100%;
	height:16px;
	font-size:16px;
	line-height:16px;
}
#main-body>aside>div>ul>li>span{
	display:block;
	position:relative;
	width:100%;
	height:12px;
	top:1px;
	font-family:"宋体";
}
/*2-1-1-3.animotion*/
#main-body>aside>div a{
	color:#6e8095;
	-webkit-transition:color 0.1s linear;
	transition:color 0.1s linear;
}
#name:hover{
	color:#f6f5f5;
}
#main-body>aside>div>ul>li>a:hover{
	color:#f6f5f5;
}
/*2-1-2.tab*/
ul[class*="-tab"]{
	position:relative;
	width:100%;
}
ul[class*="-tab"]>li{
	display:block;
	float:left;
	position:relative;
	width:100%;
}
ul[class*="-tab"]>li>a{
	display:block;
	position:relative;
	width:100%;
}
ul[class*="-tab"]>li>a>span{
	display:block;
	position:relative;
	width:100%;
	line-height:48px;
}
/*2-1-2-1.first-tab*/
.first-tab>li>a{
	padding-left:45px;
}
.first-tab>li>a>span{
	padding-left:25px;
}
#line-1>a>span{
	background:url(../img/tb-first-tab-1.png) no-repeat 0px 17px;
}
.line-245>a>span{
	background:url(../img/tb-first-tab-245.png) no-repeat 0px 17px;
}
#line-3>a>span{
	background:url(../img/tb-first-tab-3.png) no-repeat 0px 17px;
}
#line-6>a>span{
	background:url(../img/tb-first-tab-6.png) no-repeat 0px 17px;
}
.first-tab>li>ul{
	padding-left:70px;
}
/*2-1-2-2.[2~(n-1)-tab]*/
ul[class*="level-"]>li>a{
	padding-left:15px;
	background:url(../img/tb-level-2-tab-1.png) no-repeat 0px 18px;
}
ul[class*="level-"]>li>a>span{
	padding-left:15px;
	background:url(../img/tb-level-2-tab-3.png) no-repeat 0px 18px;
}
ul[class*="level-"]>li>ul{
	padding-left:30px;
}
/*2-1-2-3.last-tab*/
.last-tab>li>a{
	background:url(../img/tb-last-tab-1.png) no-repeat 0px 18px;
}
.last-tab>li>a>span{
	padding-left:15px;
}
/*2-1-2-4.animotion*/
/*2-1-2-4-1.tb-animotion*/
ul[class*="level-"]>li>a:hover,ul[class*="level-"]>li>a:focus{
	background:url(../img/tb-level-2-tab-2.png) no-repeat 0px 18px;
}
ul[class*="level-"]>li>a:hover>span,ul[class*="level-"]>li>a:focus>span{
	background:url(../img/tb-level-2-tab-4.png) no-repeat 0px 18px;
}
.last-tab>li>a:hover,.last-tab>li>a:focus{
	background:url(../img/tb-last-tab-2.png) no-repeat 0px 18px;
}
/*2-1-2-4-2.color-animotion*/
.first-tab>li{
	-webkit-transition:background 0.1s linear;
	transition:background 0.1s linear;
}
.first-tab>li:hover{
	background:#383D4E;
}
ul[class*="-tab"]>li>a>span{
	color:#6e8095;
	-webkit-transition:color 0.1s linear;
	transition:color 0.1s linear;
}
ul[class*="-tab"]>li>a:hover>span,ul[class*="-tab"]>li>a:focus>span{
	color:#f6f5f5;
}
/*2-1-2-4-3.height-animotion*/
.first-tab>li>ul>li>a>span,ul[class*="level-"]>li>ul>li>a>span{
	height:0;
	opacity:0;
	-webkit-transition:height 0.1s linear,opacity 0.1s linear;
	transition:height 0.1s linear,opacity 0.1s linear;
}
.first-tab>li:hover>ul>li>a>span,ul[class*="level-"]>li:hover>ul>li>a>span,ul[class*="-tab"]>li>a:focus>span{
	height:48px;
	opacity:1;
}
/*2-2.right-section*/
#main-body>section{
	float:left;
	width:1020px;
	height:100%;
	background:#EEEDEC;
}
/*2-2-1.h2*/
#main-body>section>h2{
	position:relative;
	width:1020px;
	height:30px;
	padding-left:30px;
	background:#ffffff;
}
#main-body>section>h2>span,a[id*="list-"]{
	display:inline-block;
	float:left;
	height:30px;
	font-size:12px;
	font-family:"黑体";
	line-height:30px;
	color:#AAAAAA;
	transition:color 0.1s linear;
	-webkit-transition:color 0.1s linear;
}
a[id*="list-"]:hover,a[id*="list-"]:focus{
	color:#6898C2;
}
/*2-2-2.row-1-10*/
/*2-2-2-1.struction*/
.row-1-10{
	position:relative;
	width:1020px;
	height:100%;
	padding:15px 60px;
}
div[class*="col-1-"]{
	float:left;
}
.col-1-4{width:40%;}
.col-1-6{width:60%;}
.col-1-10{width:100%;}
div[class*="col-1-"]>div,div[class*="col-1-"]>form{
	margin:5px;
	border:1px solid #D7D9DA;
	background:#ffffff;
}
.row-1-10>div>form{
	height:86px;
}
#his-search>div{
	height:64px;
}
#count>div{
	height:100px;
}
.col-1-4>div,.col-1-6>div{
	height:356px;
}
/*2-2-2-2.form*/
.row-1-10>div>form{
	padding:14px;
	font-size:12px;
	font-family:"黑体";
}
.row-1-10>div>form>div{
	float:left;
	position:relative;
	height:56px;
	margin:0 15px;
}
#dv-item{width:122px;}
#dv-buy{width:188px;}
#dv-data{width:294px;}
.label-txt{
	display:inline-block;
	float:left;
	height:26px;
	line-height:26px;
	color:#aaaaaa;
}
select[id*="inp-"],#inp-date{
	float:left;
	height:26px;
	margin-left:14px;
	border:2px solid #CACBCB;
	padding-left:10px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	font-size:12px;
	font-family:"黑体";
	color:#323333;
}
/*2-2-2-2-1.form>div*/
.row-1-10>div>form>div>div{height:26px;}
.dv-bottom{margin-top:4px;}
.inp-short{width:70px;}
.inp-long,#inp-date{width:120px;}
.label-right{margin-left:14px;}
#dv-buy{
	background:url(../img/post-change.png) no-repeat 158px 9px;
}
/*2-2-2-2-2.form-submit*/
#inp-smit{
	position:relative;
	width:50px;
	height:26px;
	border:0px solid #388AC1;
	border-radius:2px;
	top:13px;
	left:15px;
	font-size:12px;
	font-family:"黑体";
	color:#ffffff;
	background:#388AC1;
	cursor:pointer;
}
/*2-2-2-2-3.animotion*/
.inp-short{
	background:url(../img/tb-form-1.png) no-repeat 54px 50%;
}
.inp-short:hover,.inp-short:focus{
	background:url(../img/tb-form-2.png) no-repeat 54px 50%;
}
.inp-long{
	background:url(../img/tb-form-1.png) no-repeat 104px 50%;
}
.inp-long:hover,.inp-long:focus{
	background:url(../img/tb-form-2.png) no-repeat 104px 50%;
}
select[id*="inp-"]:hover,#inp-date:hover,select[id*="inp-"]:focus,#inp-date:focus{
	border:2px solid #388AC1;
}
#inp-smit{
	transition:color 0.1s linear,background 0.1s linear,border 0.1s linear;
}
#inp-smit:hover{
	border:2px solid #388AC1;
	color:#388AC1;
	background:#ffffff;
}
/*2-2-2-3.his-search*/
/*2-2-2-3-1.a[id*="a-"]*/
#his-search>div{
	background:#EEEDED;
	border:none;
}
a[id*="a-"]{
	display:inline-block;
	float:left;
	position:relative;
	height:64px;
	border:1px solid #D7D9DA;
	background:#ffffff;
}
#a-left{
	width:30px;
	margin-right:2px;
}
#a-right{
	width:30px;
	margin:0 2px;
}
#a-his{
	width:132px;
	margin-left:2px;
}
a[id*="a-"]>img{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}
#a-left>img,#a-right>img{left:9px;}
#a-his>img{left:20px;}
#a-his>span{
	display:inline-block;
	position:absolute;
	top:50%;
	left:60px;
	transform:translateY(-50%);
	height:12px;
	font-size:12px;
	font-family:"微软雅黑";
	line-height:12px;
}
/*2-2-2-3-2.row-2-12*/
#row-2-12{
	float:left;
	width:690px;
	height:64px;
}
a[class*="col-2-"]{
	display:inline-block;
	float:left;
	position:relative;
	width:111px;
	height:64px;
	margin:0 2px;
	border:1px solid #D7D9DA;
	background:#ffffff;
}
.sp-time{
	display:inline-block;
	position:absolute;
	width:100%;
	height:12px;
	bottom:36px;
	font-size:12px;
	font-family:"微软雅黑";
	line-height:12px;
	color:#666666;
	text-align:center;
}
.sp-number{
	display:inline-block;
	position:absolute;
	width:61px;
	height:21px;
	padding-left:11px;
	bottom:7px;
	left:50%;
	transform:translateX(-50%);
	font-size:21px;
	font-family:"微软雅黑";
	line-height:21px;
	color:#ec6500;
	background:url(../img/tb-search-4.png) no-repeat 0px 6.5px;
}
/*2-2-2-3-3.animotion*/
#a-left,#a-right{
	transition:background 0.1s linear;
	-webkit-transition:background 0.1s linear;
}
#a-left:hover,#a-right:hover{
	background:#388AC1;
}
#a-his{
	color:#535353;
	transition:color 0.1s linear,border 0.1s linear;
	-webkit-transition:color 0.1s linear,border 0.1s linear;
}
#a-his:hover{
	color:#388AC1;
	border:2px solid #388AC1;
}
a[class*="col-2-"]{
	transition:border 0.1s linear;
	-webkit-transition:border-top 0.1s linear;
}
a[class*="col-2-"]:hover,a[class*="col-2-"]:focus{
	border-top:4px solid #388AC1;
}
/*2-2-2-4.count*/
#count>div{
	background:#EEEDED;
	border:none;
}
#count>div>h3{
	display:block;
	position:relative;
	width:100%;
	height:30px;
	font-size:12px;
	font-family:"微软雅黑";
	line-height:30px;
}
/*2-2-2-4-1.#conut-div-div*/
#count>div>div{
	height:70px;
	margin:0 -15px;
}
#count>div>div>div{
	float:left;
	position:relative;
	width:200px;
	height:70px;
	margin:0 15px;
	border:1px solid #D7D9DA;
	background:#ffffff;
}
#count>div>div>div::before{
	content:'';
	position:absolute;
	width:4px;
	height:68px;
	top:0;
	left:0;
}
#count>div>div>div::after{
	content:'';
	position:absolute;
	width:60px;
	height:48px;
	top:10px;
	right:10px;
}
#dv-green::before,#dv-green::after{background:#43B29E;}
#dv-blue::before,#dv-blue::after{background:#388AC1;}
#dv-red::before,#dv-red::after{background:#CF4A36;}
#dv-yellow::before,#dv-yellow::after{background:#E2CD47;}
.sp-number-2{
	display:block;
	float:left;
	position:absolute;
	height:12px;
	top:20px;
	left:10px;
	font-size:12px;
	font-family:"黑体";
	line-height:12px;
	color:#323333;
}
.sp-txt{
	display:block;
	float:left;
	position:absolute;
	height:10px;
	bottom:20px;
	left:10px;
	font-size:10px;
	font-family:"黑体";
	line-height:10px;
	color:#aaaaaa;
}
/*2-2-2-5.project-table*/
#project-table>div{
	border-radius:6px;
}
/*2-2-2-5-1.h3*/
#project-table>div>h3{
	display:block;
	position:relative;
	width:100%;
	height:40px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	padding-left:20px;
	font-size:12px;
	font-family:"黑体";
	line-height:40px;
	color:#aaaaaa;
	background:#F4F5F7;
}
#project-table>div>div{
	position:relative;
	float:left;
	width:488px;
	height:274px;
	margin:20px;
}
/*2-2-2-5-2.table-a*/
#project-table>div>div>a{
	display:inline-block;
	float:left;
	position:absolute;
	width:86px;
	height:28px;
	border:2px solid #cacbcb;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	font-size:12px;
	font-family:"微软雅黑";
	line-height:24px;
	color:#535353;
	text-align:center;
}
#a-two{left:90px;}
#a-thr{left:180px;}
#a-for{left:270px;}
#a-fiv{left:360px;}
/*2-2-2-5-3.table*/
#project-table>div>div>div{
	position:absolute;
	float:left;
	width:488px;
	height:248px;
	border:2px solid #CACBCB;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	bottom:0;
}
#tab-1{
	position:absolute;
	width:405px;
	height:175px;
	border:1px solid #DDDDDD;
	border-collapse:collapse;
	top:28px;
	left:39px;
}
#tab-1>tbody>tr>td{
	border:1px solid #DDDDDD;
	font-size:12px;
	font-family:"宋体";
	color:#535353;
	text-align:center;
}
/*2-2-2-5-4.animotion*/
#project-table>div>div>a{
	background:#EDEDF0;
	border-top:2px solid #EDEDF0;
	border-right:2px solid #EDEDF0;
	border-left:2px solid #EDEDF0;
	border-bottom:2px solid #CACBCB;
	z-index:0;
	transition:border-top 0.1s linear,border-right 0.1s linear,border-left 0.1s linear;
	-webkit-transition:border-top 0.1s linear,border-right 0.1s linear,border-left 0.1s linear;
}
#project-table>div>div>a:hover{
	border-top:2px solid #CACBCB;
	border-right:2px solid #CACBCB;
	border-left:2px solid #CACBCB;
}
#project-table>div>div>a:focus{
	background:#ffffff;
	border-top:2px solid #CACBCB;
	border-right:2px solid #CACBCB;
	border-left:2px solid #CACBCB;
	border-bottom:2px solid #ffffff;
	z-index:2;
}
#tab-1>tbody>tr>td{
	background:#ffffff;
	transition:background 0.1s linear;
	-webkit-transition:background 0.1s linear;
}
#tab-1>tbody>tr>td:hover{
	background:#F3F5F6;
}
/*2-2-2-6.pandect*/
#pandect>div{
	border-radius:6px;
}
/*2-2-2-6-1.h3*/
#pandect>div>h3{
	display:block;
	position:relative;
	width:100%;
	height:40px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	padding-left:20px;
	font-size:12px;
	font-family:"黑体";
	line-height:40px;
	color:#aaaaaa;
	background:#F4F5F7;
}
/*2-2-2-6-2.pandect>div>div*/
#pandect>div>div{
	position:relative;
	padding-left:17px;
	padding-top:4px;
}
#dv-title{
	float:left;
	width:280px;
	height:44px;
	border-bottom:1px solid #E8E8E8;
	top:14px;
	left:34px;
}
#dv-price{
	float:left;
	width:96px;
	height:44px;
	border-right:1px solid #E8E8E8;
	top:14px;
	left:34px;
}
#dv-header{
	float:left;
	width:184px;
	height:44px;
	top:14px;
	left:34px;
}
#dv-describe{
	float:left;
	width:280px;
	height:146px;
	border-top:1px solid #E8E8E8;
	top:14px;
	left:34px;
}
#pandect>div>div>h4{
	font-size:12px;
	font-family:"微软雅黑";
	color:#c3c2c2;
}
#pandect>div>div>span{
	font-size:12px;
	font-family:"微软雅黑";
	color:#535353;	
}
/*2-2-2-6-2.pandect>div>form*/
#pandect>div>form{
	float:left;
	position:relative;
	width:280px;
	border-top:1px solid #E8E8E8;
	padding-top:4px;
	padding-left:3px;
	left:34px;
}
#inp-agree{visibility:hidden;}
#lab-agree{
	cursor:pointer;
	position:absolute;
	width:14px;
	height:14px;
	border:1px solid #D6D6D6;
	top:9px;
	left:3px;
}
#lab-agree:hover{
	border:1px solid #388AC1;
}
#inp-agree:checked + #lab-agree{
	background:url(../img/tb-pandect-1.png);
}
#pandect>div>form>span{
	font-size:12px;
	font-family:"微软雅黑";
	color:#c3c2c2;
}
#inp-smit-2{
	position:absolute;
	width:50px;
	height:26px;
	border:2px solid #388AC1;
	border-radius:2px;
	top:4px;
	right:0px;
	font-size:12px;
	font-family:"黑体";
	background:#388AC1;
	color:#ffffff;
	transition:color 0.1s linear,background 0.1s linear;
	-webkit-transition:color 0.1s linear,background 0.1s linear;
}
#inp-smit-2:hover{
	background:#ffffff;
	color:#388AC1;
}
/*2-2-2-7.calender*/
#calender>div{
	border-radius:6px;
}
/*2-2-2-7-1.h3*/
#calender>div>h3{
	display:block;
	position:relative;
	width:100%;
	height:40px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	padding-left:20px;
	font-size:12px;
	font-family:"黑体";
	line-height:40px;
	color:#aaaaaa;
	background:#F4F5F7;
}
/*2-2-2-7-2.calender-form*/
#calender>div>form{
	position:relative;
	width:310px;
	height:42px;
	padding:10px 0;
	left:50%;
	transform:translateX(-50%);
}
#calender>div>table{
	position:relative;
}