*{margin: 0;padding: 0;}
header,footer{background-color: #F9AA06;height: 60px;font-size: 14px;}
p,ul,dl,span{font-size: 12px;}
body{font-family: 'Microsoft YaHei';}
h2{margin: 10px 0;}

/*设置头部*/
header h1 a{
	display: block;
	float: left;
}

header img{
	height: 60px;
}

header ul{
	position: absolute;
	right: 5px;
	top: 0;
}

header ul li{
	text-align: center;
	float: left;
	line-height: 60px;
	height: 60px;
	margin-right: 20px;
}

header ul li a{
	text-decoration: none;
	color: #FFFFFF; 
	display: block;
}

header ul li:hover{
	color: #333333;
	background: #FF8000;
}

header ul li a:hover{
	color: #333333;
}

/*设置中部*/
div{
	background: #EEEEEE;
	padding: 20px 160px 20px 240px;
	margin: 20px;
	border: 1px solid #999999;
	box-sizing: border-box;
	overflow: auto;
}

article,aside{
	background: #FFFFFF;
	border:1px solid #999999;
}

/*中间正文*/
.main{
	float: left;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
}

.main p{
	line-height: 20px;
	margin: 10px 0;
}

.zhengwen{
	text-indent: 2em;
}

.main p a{
	text-decoration: none;
}

.main p a:hover{
	color:#FF0000;
}

.main ul li{
	list-style-type: none;
}

/*左侧*/
.left{
	width: 200px;
	float: left;
	position: relative;
	margin-left: -100%;
	box-sizing: border-box;
	left: -220px;
	padding: 20px;
}

.left img{
	width: 80px;
	height: 80px;
}

.left span{
	vertical-align: top;
}

/*右侧*/
.right{
	width: 120px;
	float: left;
	position: relative;
	margin-left: -120px;
	right: 0px;
	text-align: center;
	box-sizing: border-box;
	right: -140px;
}

.right h2{
	width: 75px;
}
.right dl{
	margin: 20px;
}

.right dl dd{
	text-align: center;
	width: 70px;
}

.right dl dd span{
	display: block;
	margin-bottom:10px;
}

.right dl dd img{
	width: 70px;
	height: 70px;
}

/*设置footer*/
footer{
	clear: both;
}

footer p{
	text-align: center;
	line-height: 60px;
}