*{margin:0;padding:0;font-size:10px;font-family:"微软雅黑";box-sizing:border-box;}

#container{
	padding:20px;
}
div[class*="row-"]{
	margin:-10px;
}
div[class*="col-"]{
	float:left;
}
span{
	display:block;
	height:50px;
	margin:10px;
	border:1px solid #999999;
	border-radius:3px;
	padding:3px;
	text-align:center;
	background:#eeeeee;
}
@media(max-width:768px){
	.col-sm-2{width:16.66666667%;}
	.col-sm-3{width:25%;}
	.col-sm-6{width:50%;}
	.col-sm-8{width:66.66666667%;}
	.col-sm-12{width:100%;}
}
@media(min-width:768px){
	.col-md-1{width:8.33333333%;}
	.col-md-2{width:16.66666667%;}
	.col-md-3{width:25%;}
	.col-md-4{width:33.33333333%;}
	.col-md-6{width:50%;}
}